.aniversarios-casamentos__container {
    display: flex;

    position: relative;
}

.aniversarios-casamento-titulo__principal {
    padding-top: 49px;
    padding-left: 193px;
    text-align: start;
    font-weight: 700;
    font-size: 36px;
    color: #424242;
    position: relative;
    z-index: 1;
}

.aniversarios-casamento-titulo__principal:after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  margin-top: 15px;
  background-color: black;
}