.gridContainer {
    width: 100%;
    background: #d7d7d7;
  }

  .gridItem {
    padding: 15px;
  }

  .gridItem ul {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .gridItem li {
    padding: 0 13px;
  }

  .gridItem a {
    color: #2d3a1d;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
  }

  .gridItem a:hover {
    text-decoration: underline;
  }
  
  .footer {
    /* está ocupando o mesmo espaço do aside, sobrepondo*/
    grid-column: 1/-1;
    grid-row: 4/-1;
    background: #F2ABBC;
    margin-top: 105px;
  }
