body {
    font-family: sans-serif;
    margin: 0;
  }
  .gridContainer {
    width: 100%;
    background: #d7d7d7;
  }

  .gridItem {
    padding: 15px;
  }

  .gridItem ul {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .gridItem li {
    padding: 0 13px;
  }

  .gridItem a {
    color: #2d3a1d;
    text-transform: uppercase;
    font-size: 16px;
    text-decoration: none;
  }

  .gridItem a:hover {
    text-decoration: underline;
  }

  ul .nav-home {
    color: #955731;
  }

  /*GRID*/
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px 238px 238px 121px;
  }

  .nav {
    margin-top: -8px;
    grid-column: 1/-1;
    background: #F2ABBC;
  }

  .main-um {
    background-image: url(part2roses.png);
    background-position: left;
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .main{
    background-image: url(rosespar1.png);
    background-position: right;
    grid-column: 2/-1;
    grid-row: 2/4;
  }


  .footer {
    /* está ocupando o mesmo espaço do aside, sobrepondo*/
    grid-column: 1/-1;
    grid-row: 4/-1;
    background: #F2ABBC;
  }

  /* MAIN UM - CADASTRO */

  .main-um .sub {
    font-size: 30px;
    width: 216px;
  }

  .main-um .sub ul {
    margin-left: -50px;
  }

  .main-um .sub-ul a {
    color: #fff;
  }

  .main-um .sub a {
    font-size: 28px;
  }

  .main-um .sub p {
    color: #ffff;
    padding: 50px 5px 0 30px;
  }

  .main-um .sub .btn-sub, .btn-entrar {
    color: #ffff;
    margin-left: 80px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    border: 1px solid white;
    text-transform: uppercase;
  }

  /* MAIN - LOGIN */
  .login, .main-login input{
    margin: 0 auto;
  }

  .login {
    width: 320px;
    height: 411px;
    border-radius: 20px;
    background: #f2abbc;
  }

  .login img {
    margin-bottom: 40px;
    background: #f5cad4cd;
    border-radius: 20px 20px 0 0;
    width: 320px;
    height: 120px;
  }

  .main-login label{
    margin-left: 60px;
  }

  .main-login a {
    font-size: 12px;
    margin-left: 63px;
  }

  .main-login input{
    box-sizing: border-box;
    padding-left: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    display: block;
    width: 200px;
    height: 32px;
  }

  input[type="email"]{
    margin-bottom: 20px;
  }

  .main-login .btn-entrar{
    border: 1px solid white;
    margin: 20px auto;
    width: 116px;
    height: 40px;
  }

  .main-login .btn-entrar:hover, .btn-sub:hover{
    cursor: pointer;
    border: 2px solid white;
  }