body{
  background: url(../../../images/ocasioes.jpeg) no-repeat fixed ;
  background-size: cover;
  background-position: center;
}
.gridContainer {
  background: rgba(46, 139, 87, 0.28);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px 238px 238px 121px;
  width: 100%;
  padding-bottom: 16em;
  }

  .main-um {
    grid-column: 1/2;
    grid-row: 2/4;
    padding-top: 160px;
  }

  .main{
    grid-column: 2/-1;
    grid-row: 2/4;
    padding-top: 160px;
  }

  /* MAIN UM - CADASTRO */

  .main-um .sub {
    font-size: 90px;
    width: 600px;
    padding-left: 200px;
  }

  .main-um .sub ul {
    margin-left: -50px;
  }

  .main-um .sub-ul a {
    color: #fff;
  }

  .main-um .sub a {
    font-size: 28px;
  }

  .main-um .sub p {
    color: #ffff;
    padding: 50px 5px 0 30px;
  }

  .main-um .sub .btn-sub, .btn-entrar {
    color: #ffff;
    margin-left: 80px;
    background-color: transparent;
    height: 40px;
    width: 100px;
    border: 1px solid white;
    text-transform: uppercase;
  }

  /* MAIN - LOGIN */
  .login, .main-login input{
    margin: 0 auto;
  }

  .login {
    width: 320px;
    height: 411px;
    border-radius: 20px;
    background: #2E8B57;
  }

  .login img {
    margin-bottom: 40px;
    background: #2E8B57;
    border-radius: 20px 20px 0 0;
    width: 320px;
    height: 120px;
  }

  .main-login label{
    margin-left: 60px;
  }

  .main-login a {
    font-size: 12px;
    margin-left: 63px;
  }

  .main-login input{
    box-sizing: border-box;
    padding-left: 8px;
    outline: none;
    border: none;
    border-radius: 4px;
    display: block;
    width: 200px;
    height: 32px;
  }

  input[type="email"]{
    margin-bottom: 20px;
  }

  .main-login .btn-entrar{
    border: 1px solid white;
    margin: 20px auto;
    width: 116px;
    height: 40px;
  }

  .main-login .btn-entrar:hover, .btn-sub:hover{
    cursor: pointer;
    border: 2px solid white;
  }
