.nav {
  margin-top: -8px;
  grid-column: 1/-1;
  background: #2E8B57;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  height: 40px;
  width: 150px;
  border-radius: 30%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-right: 20px;
}

.nav-home__login {
  margin-left: auto;
}

ul .nav-home {
  color: white;
}
