.section-inicial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.inicial-text {
    width: 204px;
    height: 158px;
    font-size: 26px;
}

.inicial-visit-text {
    width: 177px;
    height: 68px;
    font-size: 26px;
    padding-bottom: 48px;
}

.button-portifolio {
    width: 133px;

    background: #FFFFFF;
    border: 1px solid #2E8B57;
    padding: 16px 24px;
    gap: 10px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #2E8B57;
}

/* SECTION mais-vendidos reutilizada, mas com outras cores. INICIO */
.mais-vendidos {
    background: rgba(46, 139, 87, 0.22);
}

.card {
    background-color: #2E8B57;
}
/* SECTION mais-vendidos reutilizada, mas com outras cores. FIM */

@media (max-width: 768px) {
    .section-inicial {
        padding-top: 5rem;
        padding-bottom: 3rem;
        flex-direction: column;
    }
    .new-logo {
        display: none;
    }
  }
  