.inicial-chamada__portifolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.chamada__portifolio-title {
    padding: 167px 0 55px 0;
    font-size: 45px;
    width: 538px;
    height: 102px;
    color: #2E8B57;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
}

.chamada__portifolio-subtitle {
    padding-bottom: 42px;
    color: #2E8B57;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
}

@media (max-width: 768px) {
    .chamada__portifolio-title {
        font-size: 45px;
        width: 350px;
    }
  }
